@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --nav-width: 68px;
  --header-height: 45px;

  --font-family: "Poppins", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #202429;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #9d0191;
  --color-orange: #ff7722;

  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: rgb(255, 68, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 12px;
}


body {
  font-family: var(--font-family);
  background: #eee;
}

section {
  width: 100%;
  padding: 4rem 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.--pad {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-top: 2rem;
}

/* UTILITY CLASSES */

/* Flex */
.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.--flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.--flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.--dir-column {
  flex-direction: column;
}

.--flex-dir-column {
  display: flex;
}

.--align-center {
  display: flex;
  align-items: center;
}

.--100vh {
  height: 100vh;
}

.--mh-100vh {
  min-height: 100vh;
}

/* Grid */
.--grid-15 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}
.--grid-25 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}

/* Center All */
.--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* Heading */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
  margin-bottom: 1rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--color-dark);
}
.--text-xl {
  font-size: 4.5rem;
}
.--text-lg {
  font-size: 4rem;
}

.--text-md {
  font-size: 3rem;
}

.--text-sm {
  font-size: 1.2rem;
  font-weight: 300;
}

.--text-p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--color-dark);
}

.--fw-bold {
  font-weight: 600;
}
.--fw-thin {
  font-weight: 200;
}

/* Text Color */
.--text-light {
  color: #fff;
}

.--color-primary {
  color: #007bff;
}
.--color-danger {
  color: rgb(255, 69, 0);
}
.--color-success {
  color: #28a745;
}

.--color-white {
  color: #fff;
}
.--color-dark {
  color: #333;
}

/* Center Text */
.--text-center {
  text-align: center;
}

/* Card */
.--card {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

/* Margin */
.--m {
  margin: 1rem;
}
.--ml {
  margin-left: 1rem;
}
.--mr {
  margin-right: 1rem;
}

.--mb {
  margin-bottom: 1rem;
}
.--mt {
  margin-top: 1rem;
}

.--my {
  margin: 1rem 0;
}
.--mx {
  margin: 0 1rem;
}

.--m2 {
  margin: 2rem;
}

.--ml2 {
  margin-left: 2rem;
}
.--mr2 {
  margin-right: 2rem;
}

.--mb2 {
  margin-bottom: 2rem;
}

.--my2 {
  margin: 2rem 0;
}

.--mx2 {
  margin: 0 2rem;
}

/* Padding */
.--p {
  padding: 1rem;
}
.--p2 {
  padding: 2rem;
}
.--py {
  padding: 1rem 0;
}
.--py2 {
  padding: 2rem 0;
}
.--px {
  padding: 0 1rem;
}
.--px2 {
  padding: 0 2rem;
}

.--btn {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}

.--btn-lg {
  padding: 8px 10px;
}

.--btn-block {
  width: 100%;
}

.--btn-primary {
  color: #fff;
  background: #007bff;
}
.--btn-secondary {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
.--btn-danger {
  color: #fff;
  background: orangered;
}

.--btn-success {
  color: #fff;
  background: #28a745;
}

/* Background */
.--bg-light {
  background: #fff;
}
.--bg-dark {
  background: var(--color-dark);
}
.--bg-primary {
  background: var(--color-primary);
}
.--bg-success {
  background: var(--color-success);
}
.--bg-grey {
  background: var(--color-grey);
}

.--form-control {
  font-size: 1.6rem;
  font-weight: 300;
}

.--form-control > * {
  margin: 5px 0;
}

.--form-control input {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  display: block;
}
.--form-control textarea {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
}
.--form-control select {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
}

.--form-control label {
  font-size: 1.6rem;
  font-weight: 400;
  display: inline-block;
  min-width: 7rem;
  color: var(--color-dark);
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .--flex-dir-column {
    flex-direction: column;
  }
}

.--block {
  display: block;
}
.--inline-block {
  display: inline-block;
}

.--width-100 {
  width: 100%;
}

.--width-500px {
  width: 500px;
}

.--line {
  position: relative;
}
.--line::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 5rem;
  height: 3px;
  margin-bottom: 1rem;

  background: rgb(217, 8, 170);
  background: linear-gradient(
    135deg,
    rgba(163, 1, 191, 1) 44%,
    rgba(217, 8, 170, 1) 57%
  );
}

.--list-style-none {
  list-style: none;
}

.--profile-img {
  width: 6rem;
  height: 6rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}

a {
  font-size: 1.4rem;
  /* color: var(--dark-blue); */
  text-decoration: none;
  transition: all 0.2s;
}

ul {
  list-style: none;
}

.ql-editor {
  min-height: 200px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 1rem;
}

.pagination .page-num {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: normal;
  color: #333;
  border: 1px solid #333;
  margin: 2px;
}

.activePage {
  color: #fff;
  background-color: var(--light-blue);
  height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

  input[type="file"] {
    display: none;
  }
  
  .file_picker {
    border: 3px dashed #666;
    cursor: pointer;
    display: block;
    display: grid;
    place-items: center;
    font-weight: 700;
    height: 100%;
    padding: 12rem 0;
  }
  #file_picker_small {
    padding: 3rem 2rem;
  }
  
  .range_pack {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
  }
  
  .image_box > input {
    pointer-events: none;
    position: absolute;
    appearance: none;
    opacity: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    background-color: transparent;
  }
  
  .image_box {
    display: flex;
    align-items: flex-start;
    position: relative;
    border: 2px solid red;
    position: relative;
    height: 6rem;
    /* overflow: hidden; */
    border-radius: 10px;
  }
  .image_box > img {
    height: 100%;
    width: 100px;
    object-fit: cover;
  }
  
  .clip_box {
    border: 10px solid red;
    position: absolute;
    height: 110%;
    box-shadow: 2000 0 5px 10px red, -400px 0 5px -10px red;
    transform: translateY(-5%);
    border-radius: 10px;
  }
  .clip_box::before,
  .clip_box::after {
    position: absolute;
    top: 90%;
    transform: translateY(104%);
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 0.7rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .clip_box::before {
    content: attr(data-start);
    left: 0;
    transform: translateY(90%) translateX(-50%);
  }
  .clip_box::after {
    content: attr(data-end);
    right: 0;
    transform: translateY(90%) translateX(50%);
  }
  
  .clip_box_des {
    width: 1.3rem;
    height: 100%;
    background-color: red;
    position: absolute;
    z-index: -1;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }
  
  .clip_box_des:nth-child(1) {
    left: 0;
    transform: translateX(-70%);
    border-radius: 10px 0 0 10px;
  }
  .clip_box_des:nth-child(2) {
    right: 0;
    transform: translateX(70%);
    flex-flow: row-reverse;
    border-radius: 0 10px 10px 0;
  }
  .clip_box_des::before,
  .clip_box_des::after {
    content: "";
    width: 3px;
    background-color: #f2f2f2;
    border-radius: 100px;
  }
  .clip_box_des::before {
    height: 60%;
  }
  .clip_box_des::after {
    height: 40%;
  }
  
  .range::-webkit-slider-thumb {
    appearance: none;
    pointer-events: all;
    width: 30px;
    height: 200px;
    /* border-radius: 50%; */
    /* opacity: 1; */
    background: pink;
    cursor: ew-resize;
    /* z-index: 2; */
  }
  
  .deck {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    align-items: start;
    margin-top: 1.4rem;
  
    gap: 4rem;
  }
  .deck > * {
    border-radius: 5px;
    align-items: start;
  }
  
  .deck > button {
    align-self: center;
  }
  
  .grid_txt_2 {
    display: grid;
    gap: 1rem;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #f4f4f4;
    color: rgb(155, 150, 150);
  }
  
  
  .btn_g {
    background-color: #24d34e;
    color: #f2f2f2;
  }
  .btn_b {
    background-color: #0a57fe;
    color: #f3f3f3;
  }
  .bord_g_2 {
    border: 2px solid rgb(230, 220, 220);
  }
  .p_2 {
    padding: 2rem;
  }
  .u-center {
    text-align: center;
  }